{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}
{% block main %}
        <form action="/changepassword" method="post">
            <fieldset>
            <div class="form-group">
                    <input class="form-control" name="password2" placeholder="Password" type="password"/>
            </div>

        <div class="form-group">
            <input class="form-control" name="confirmation2" placeholder="Password confirmation" type="password"/>
        </div>

            <div class="form-group">
                <button class="btn btn-default" type="submit">Change</button>
            </div>
            </fieldset>
        </form>
{% endblock %}